<div class="text-xs-right">
  <div ngbDropdown class="d-inline-block">

    <button class="user-nav-dropdown" ngbDropdownToggle>
      <span class="large-screen">Providigm User</span>
      <span class="small-screen" pvdm-icon="user">
        <pvdm-icon name="user"></pvdm-icon>
      </span>
    </button>
    
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item">Change Password</button>
      <button 
        class="dropdown-item"
        (click)="logout()"
        [routerLink]="['/login']">Logout</button>
    </div>
  </div>
</div>