.page-level-messages {
  margin:-20px -30px 20px -30px;
  .alert {
    padding: 0;
    position: relative;
    padding-left: 50px;
    margin: 0 0 0px 0;
    }
  .alert-icon {
    display:block;
    position:absolute;
    top:0;
    left:30px;
    }
  }