<!--Header-->
<page-header title='Log In'></page-header>

<div class="row">
  <form novalidate
    (ngSubmit)="onSubmit()" 
    #loginForm="ngForm" 
    class="col-md-2">
    <!-- Email -->
    <div class="form-group">
      <label 
        class="sr-only" 
        for="email">Email
      </label>
      <input 
        class="form-control"
        placeholder="Email" 
        type="text" 
        id="email"
        [(ngModel)]="model.email" 
        name="email"
        #email="ngModel"
        required>
        <div 
          [hidden]="email.valid || email.pristine"
          class="alert alert-danger">
          Email is required
        </div>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label 
        class="sr-only" 
        for="password">Password
      </label>
      <input 
        class="form-control"
        placeholder="Password" 
        type="text" 
        id="password"
        [(ngModel)]="model.password" 
        name="password"
        #password="ngModel"
        required>
        <div 
          [hidden]="password.valid || password.pristine"
          class="alert alert-danger">
          Password is required
        </div>
    </div>
    <!-- Submit -->
    <div class="form-group">
      <button 
        type="submit" 
        class="btn btn-primary"
        (click)="login(); loginForm.reset()"
        [disabled]="!loginForm.form.valid"
        routerLink="/dashboard">Log In
      </button>
    </div>
    <!-- Forgot Password-->
    <div class="form-group">
      <a>Need help?</a>
    </div>
  </form>
</div>
<pre>{{model|json}}</pre>
