<!--Header-->
<page-header title='Log In'></page-header>

<div class="row">
  <form class="col-md-2">
    <!-- Email -->
    <div class="form-group">
      <label 
        class="sr-only" 
        for="email">Email
      </label>
      <input 
        class="form-control"
        placeholder="Email" 
        type="text" 
        id="email" 
        required>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label 
        class="sr-only" 
        for="password">Password
      </label>
      <input 
        class="form-control"
        placeholder="Password" 
        type="text" 
        id="password" 
        required>
    </div>
    <!-- Submit -->
    <div class="form-group">
      <button 
        type="submit" 
        class="btn btn-primary">Log In
      </button>
    </div>
    <!-- Forgot Password-->
    <div class="form-group">
      <a>Need help?</a>
    </div>
  </form>
</div>
<pre>{{model|json}}</pre>
