/* Global Styles */

html {
  font-size: 14px;
  }

body {
  padding-top: 50px;
  }

/**
 * Future-proof disabling of clicks
 */

.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    pointer-events: none;
    }
  }

/**
 * Gradient prefixes are not added by autoprefixer,
 * so here, we add them manually.
 */

.btn-primary {
  color: white !important;
  border: 1px solid #4178BE !important;
  background: #2546AC;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #365EBF), color-stop(1, #2546AC) );
  background: -moz-linear-gradient( center top, #365EBF 5%, #2546AC 100% );
  background: linear-gradient( center top, #365EBF 5%, #2546AC 100% );
  &:hover {
    background: #2546AC;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2546AC), color-stop(1, #365EBF) );
    background: -moz-linear-gradient( center top, #2546AC 5%, #365EBF 100% );
    background: linear-gradient( center top, #2546AC 5%, #365EBF 100% );
    color: #E0E0E0;
    }
  }

.btn-default {
  border: 1px solid #C7C7C7;
  background: #fff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #F4F4F4) );
  background: -moz-linear-gradient( center top, #FFFFFF 5%, #F4F4F4 100% );
  background: linear-gradient( center top, #FFFFFF 5%, #F4F4F4 100% );
  &:hover {
    background: #fff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F4F4F4), color-stop(1, #FFFFFF) );
    background: -moz-linear-gradient( center top, #F4F4F4 5%, #FFFFFF 100% );
    background: linear-gradient( center top, #F4F4F4 5%, #FFFFFF 100% );
    }
  }

.btn-delete {
  border: 1px solid #C7C7C7;
  color: #FF0000;
  background: #fff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #F4F4F4) );
  background: -moz-linear-gradient( center top, #FFFFFF 5%, #F4F4F4 100% );
  background: linear-gradient( center top, #FFFFFF 5%, #F4F4F4 100% );
  &:hover {
    color: #FF0000;
    background: #fff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #FFFFFF) );
    background: -moz-linear-gradient( center top, #F4F4F4 5%, #FFFFFF 100% );
    background: linear-gradient( center top, #F4F4F4 5%, #FFFFFF 100% );
  }
}

* {
  border-radius: 0 !important;
}

/**
 * Semantic helpers
 */

.padding-top-sm {
  padding-top:10px;
  }
.padding-top-md {
  padding-top:15px;
  }
.padding-top-lg {
  padding-top:20px;
  }
.margin-right-sm {
  padding-right:10px;
  }
.margin-right-md {
  padding-right:15px;
  }
.margin-right-lg {
  padding-right:20px;
  }
.margin-top-sm {
  margin-top:5px;
  }
.margin-top-md {
  margin-top:10px;
  }
.margin-top-lg {
  margin-top:20px;
  }
.margin-left-sm {
  padding-right:10px;
  }
.margin-left-sm {
  padding-right:15px;
  }
.margin-left-sm {
  padding-right:20px;
  }
/* Alerts */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
}
.alert-danger {
  background-color: #e33d43;
  border-color: #e33d43;
  color: #ffffff;
}

.alert-success {
  background-color: #56b349;
  border-color: #56b349;
  color: #ffffff;
}